body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h1 {
    margin-bottom: 20px;
}

input,
select,
button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #243b55;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #141e30;
}

#result {
    margin-top: 20px;
}